<div>
  <h2 class="text-xl font-semibold text-[#6c4c05] mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline mr-2" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
        clip-rule="evenodd" />
    </svg>
    Horário Escolar
  </h2>
  <div class="space-y-3">
    <div class="flex justify-between">
      <span class="text-gray-600">Manhã</span>
      <span class="font-medium">07:00 - 12:30</span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-600">Ônibus de ida</span>
      <span class="font-medium">06:30</span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-600">Ônibus de volta</span>
      <span class="font-medium">12:45</span>
    </div>
  </div>
</div>
