<div class="min-h-screen bg-gradient-to-r from-[#9a8f75] to-[#7F755D] flex items-center justify-center">
  <div
    class="relative w-full max-w-6xl bg-white rounded-lg shadow-lg flex overflow-hidden mx-4 sm:mx-6 md:mx-8 h-[80vh]">
    <div class="hidden lg:block w-1/2 h-full">
      <img src="assets/images/register.jpg" alt="Transporte Escolar" class="w-full h-full object-contain">
    </div>
    <div class="w-full lg:w-1/2 p-6 sm:p-8 md:p-10 flex flex-col justify-center">
      <div class="text-center mb-4">
        <h2 class="text-4xl font-bold mb-4">
          <span class="text-[#6c4c05]">Junte-se ao </span>
          <span class="text-yellow-500">School</span><span class="text-red-500">Track</span>
        </h2>
        <p class="text-lg text-gray-600 max-w-md mx-auto">
          Cadastre-se agora e tenha controle total sobre o transporte escolar do seu filho
        </p>
      </div>

      <form>
        <div class="mb-4">
          <label for="nome" class="block text-base font-medium text-gray-700">Nome Completo</label>
          <input type="text" id="nome" name="nome" class="w-full p-3 mt-1 border border-gray-300 rounded-lg" required>
        </div>

        <div class="mb-4">
          <label for="email" class="block text-base font-medium text-gray-700">Email</label>
          <input type="email" id="email" name="email" class="w-full p-3 mt-1 border border-gray-300 rounded-lg"
            required>
        </div>

        <div class="mb-4">
          <label for="password" class="block text-base font-medium text-gray-700">Senha</label>
          <input type="password" id="password" name="password" class="w-full p-3 mt-1 border border-gray-300 rounded-lg"
            required>
        </div>

        <div class="mb-4">
          <label for="co-password" class="block text-base font-medium text-gray-700">Repita Senha</label>
          <input type="co-password" id="co-password" name="co-password"
            class="w-full p-3 mt-1 border border-gray-300 rounded-lg" required>
        </div>

        <div class="mt-4 flex justify-between items-center">
          <button type="submit"
            class="bg-[#6c4c05] text-white py-3 px-6 rounded-lg hover:bg-[#8c6205]">Cadastre-se</button>
          <p class="text-sm text-gray-600">
            Já tem uma conta?
            <a routerLink="/login" class="text-[#6c4c05] hover:underline">Faça login</a>
          </p>
        </div>

      </form>
    </div>
  </div>
</div>
