<div class="min-h-screen bg-gradient-to-r from-[#9a8f75] to-[#7F755D] flex items-center justify-center">
  <div
    class="relative w-full max-w-6xl bg-white rounded-lg shadow-lg flex overflow-hidden mx-4 sm:mx-6 md:mx-8 h-[80vh]">
    <div class="hidden lg:block w-1/2 h-full">
      <img src="assets/images/forgot-password.jpg" alt="Transporte Escolar" class="w-full h-full object-contain">
    </div>

    <div class="w-full lg:w-1/2 p-6 sm:p-8 md:p-10 flex flex-col justify-center">
      <div class="text-center mb-4">
        <h2 class="text-4xl font-bold mb-4">
          <span class="text-[#6c4c05]">Problemas para acessar? </span>
          <span class="text-yellow-500">Vamos </span><span class="text-red-500">resolver!</span>
        </h2>

        <p class="text-lg text-gray-600 max-w-md mx-auto mb-6">
          Digite o e-mail cadastrado no SchoolTrack e enviaremos um link para redefinir sua senha e você voltar a
          acompanhar o
          transporte do seu filho.
        </p>

        <div class="flex justify-center mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-[#6c4c05]" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
          </svg>
        </div>
      </div>
      <form>
        <div class="mb-8">
          <label for="email" class="block text-base font-medium text-gray-700 mb-2">E-mail cadastrado</label>
          <input type="email" id="email" name="email"
            class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#6c4c05] focus:border-[#6c4c05] transition"
            placeholder="seu@email.com" required>
        </div>

        <button type="submit"
          class="w-full bg-[#6c4c05] text-white py-3 px-6 rounded-lg hover:bg-[#8c6205] transition duration-300 flex items-center justify-center mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
          </svg>
          Enviar link de recuperação
        </button>

        <div class="text-center">
          <p class="text-sm text-gray-600">
            Lembrou sua senha?
            <a routerLink="/login" class="text-[#6c4c05] font-medium hover:underline ml-1">
              Voltar para o login
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
